.cell {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    color: #000000;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.3);
    overflow: hidden;
}

.cell.hidden:hover {
    transform: scale(1.05);
}

.cell.revealed {
    background-color: #ffffff;
    color: #000000;
    cursor: default;
    transform: scale(0.95);
}

.cell.revealed.revealed-me {
    background-color: rgba(255, 255, 255, 1);
    border-color: #ff8922;
    color: #000000;
}

.cell.revealed.revealed-opponent {
    background-color: rgb(255, 255, 255);
    border-color: #409ddb;
    color: #000000;
}

.cell.revealed.found-me {
    background-color: #ff8922; 
    border-color: #e67e22;
    color: #ffffff;
}

.cell.revealed.found-opponent {
    background-color: #409ddb;
    border-color: #2980b9;     
    color: #ffffff;            
}

@keyframes shake-error {
    0%, 100% { transform: translateX(0); }
    20%, 60% { 
        transform: translateX(-5px); 
        background-color: #e74c3c;
    }
    40%, 80% { 
        transform: translateX(5px); 
        background-color: #e74c3c; 
        border-color: #c0392b ;
    }
}

.cell.shake-error {
    animation: shake-error 0.4s ease-in-out;
}

@keyframes boing-reveal {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    40% {
        transform: scale(1.15);
        opacity: 1;
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.cell.animate-reveal {
    animation: boing-reveal 0.5s ease-out forwards;
}

.cell.cell-blinded {
    background-color: #111111 !important; 
    border: 2px solid #000000 !important;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.9) !important;
    color: transparent !important;
}

.cell.block-me {
    border-color: #ff8922 !important; /* Laranja (Sua cor) */
    box-shadow: inset 0 0 15px rgba(255, 137, 34, 0.3) !important;
}

.cell.block-opponent {
    border-color: #409ddb !important; /* Azul (Cor do Oponente) */
    box-shadow: inset 0 0 15px rgba(64, 157, 219, 0.3) !important;
}

.block-overlay {
    position: absolute;
    top: 25%; 
    left: 10%;
    transform: translateX(-50%, -50%); 
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    pointer-events: none; 
    z-index: 5;
}

.block-icon {
    font-size: 1.4rem;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.8));
}

.block-progress {
    display: flex;
    width: 100%; 
    height: 18px; 
    background-color: #333;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #555;
}

.block-segment {
    flex: 1;
    height: 100%;
   
    border-right: 1px solid #555;
}

.block-segment:last-child {
    border-right: none;
}

.block-segment.filled {
    background-color: #3498db;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

.trap-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    z-index: 2;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.5));
}

.cell.trap-me {
    background-color: #ff8922;
    border-color: #e67e22;
}

.cell.trap-detected {
    background-color: #409ddb;
    border-color: #2980b9;
}

.animate-trap-found {
    animation: revealAndFade 2.0s ease-out forwards;
}

.trap-detected .trap-svg {
    color: #f32c12; 
}

.trap-snap-anim {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    color: #ff4757;
    z-index: 50;
    pointer-events: none;    
    margin-left: -40%;
    margin-top: -40%;
    animation: trapSnap 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes trapSnap {
    0% { transform: scale(0); opacity: 0; }
    20% { transform: scale(1.4); opacity: 1; filter: brightness(1.5); }
    70% { transform: scale(1); opacity: 1; filter: brightness(1); }
    100% { transform: scale(0.5); opacity: 0; }
}

@keyframes revealAndFade {
    0% { opacity: 0; transform: scale(0.5); }
    20% { opacity: 1; transform: scale(1.2); }
    80% { opacity: 1; transform: scale(1); } 
    100% { opacity: 0; transform: scale(0.8); } 
}