@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

@import url("./components/board.css");
@import url("./components/inventory.css");
@import url("./components/words.css");
@import url("./components/player.css");
@import url("./components/modal.css");

@import url("./pages/home.css");
@import url("./pages/matchmaking.css");
@import url("./pages/game.css");
@import url("./pages/found.css");

@import url("transitions.css");

body {
    background-image: url("../../public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: "Lilita One", cursive;
}
